.env
node_modules
__pycache__
*.pyc
env/
dist/
.DS_Store

# Firebase & Secrets
service-account.json
*.json
!package.json
!tsconfig.json

# Test Scripts
backend/debug_firestore.py
backend/test_stats.py
