fastapi
uvicorn
jinja2
python-multipart
pdfplumber
python-docx
groq
requests
motor
python-dotenv
beautifulsoup4
bs4
firebase-admin
certifi
pydantic
weasyprint
PyJWT
passlib[bcrypt]
bcrypt
slowapi
qrcode[pil]